doctype html
html(lang = 'en')
    head 
        //- Icon
        link(rel="icon", href="icon.png")
        //-CSS Stylesheets
        link(rel='stylesheet',type='text/css', href='Pomodoro_stylesheet.css')
        //- JavaScript Stylesheet
        script(defer, src="Pomodoro_javascript.js") 
        //- Bootstrap Scripts
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://getbootstrap.com/docs/5.2/assets/css/docs.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js") 
        //- Title 
        title Pomodoro Timer Technique

        style.
            body{
            background-color: #dc3545;
            }

    body(onload='showSlides(1)')

        header 
            nav.navbar.navbar-dark.bg-dark
              .container-fluid
                a.navbar-brand(href='/') P.T. Timers
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                  ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(aria-current='page', href='#slideshow-container') What is Pomodoro Technique?
                    li.nav-item
                        a.nav-link(onclick="document.getElementById('id03').style.display='block'") Customize your timer

            
        .top-container
            h1 Pomodoro Technique Timers
            h2 Time Mannager Technique
        .button-animate-container
            .row
                .col
                    .left
                        img.left-p(src='pomodoro_rings.png', alt='Pomodoro', width='150', height='150')
                .col
                    .buttons
                        a.btn.btn-outline-dark(onclick="document.getElementById('id03').style.display='block'", role='button', style='padding: 3%; margin: 2%; width: 98%;') Start now
                .col
                    .right
                        img.right-p(src='pomodoro_rings.png', alt='Pomodoro', width='150', height='150')
        footer
            //- Slideshow container
            #slideshow-container.slideshow-container
                //- Full-width slides
                .mySlides(style='height: fit-content;')
                    h2 What is it?
                    h3
                        | The Pomodoro Technique is a time management method that can be used for any task.
                        br
                        |                     The anxiety triggered by &ldquo;the ticking clock&rdquo;,
                        |                     especially when it involves a deadline, leads to ineffective work and study habits which in turn lead to procrastination.
                        br
                        |                     The aim of the Pomodoro Technique is to use time as a valuable ally in accomplishing what we want to do in the way we want to do it,
                        |                     and to enable us to improve continually the way we work or study.
                .mySlides(style='height: fit-content;')
                    h2 The Basics
                    h4
                        | At the beginning of each day select the tasks you need to complete and put them on a TODO list
                        br
                        br
                        |                     Start working:
                        br
                        br
                        |                     1.Choose a task to be accomplished.
                        br
                        |                     2.Set the Pomodoro timer to an apropriate time interval.
                        br
                        |                     3.Work until the Pomodoro rings.
                        br
                        |                     4.Take a short break untill the next ring.
                        br
                        |                     5.Take a long break every 4 Pomodoro sessions.
                .mySlides(style='height: fit-content;')
                    h2 Rules &amp; Tips
                    h4
                        | - If a task takes more than 5-7 Pomodoros, break it down.
                        br
                        |                     - If it takes less than one Pomodoro, add it up, and combine it with another task.
                        br
                        |                     - Once a Pomodoro begins, it has to ring.
                        br
                        |                     - The next Pomodoro will go better.
                        br
                        |                     - Login to the service and check the Wisdom of the crowd.
                        br
                        |                     - The Pomodoro Technique shouldn&apos;t be used for activities you do in your free time.
                        br
                        |                     Enjoy free time!
                //- Next/prev buttons
                a.prev(onclick='plusSlides(-1)') &#x276E;
                a.next(onclick='plusSlides(1)') &#x276F;
                //- Dots/bullets/indicators
            .dot-container
                span.dot(onclick='currentSlide(1)')
                span.dot(onclick='currentSlide(2)')
                span.dot(onclick='currentSlide(3)')        

        //- start now modal
        #id03.modal(style='text-align: center;')
            form.modal-content.animate(action='/pomodoro-timer', method='post', style='background-color: #dc3545; width: 50%;')
                .uppercontainer
                    span.close(onclick="document.getElementById('id03').style.display='none'", title='Close Modal') &times;
                .setup-container
                    h1 Set Your Pomodoro
                    p Please fill in this form to set your timer.
                    hr
                    .row(style='padding-bottom: 2%;')
                        .col(style='text-align: right; padding-top: 5%;')
                            h3 Work:
                        .col(style='text-align: left;')
                            label(for='Minute')
                                b Minute
                            input#workInputMinute.form-control(type='number', name="work", placeholder='MM', min='0', max='59', required='', style='width: 50%;')
                    .row(style='padding-bottom: 2%;')
                        .col(style='text-align: right')
                            h3 Short Break:
                        .col(style='text-align: left;')
                            input#shortInputMinute.form-control(type='number', name="short_b", placeholder='MM', min='0', max='59', required='', style='width: 50%;')
                    .row(style='padding-bottom: 2%;')
                        .col(style='text-align: right')
                            h3 Long Break:
                        .col(style='text-align: left;')
                            input#longInputMinute.form-control(type='number', name="long_b", placeholder='MM', min='0', max='59', required='', style='width: 50%;')
                .container
                    button#times_start_btn.btn.btn-outline-dark(type='submit', style='width: 40%; margin: 1%;') Set Timer
                    a.btn.btn-outline-dark(onclick="document.getElementById('id03').style.display='none'", style='width: 40%; margin: 1%;', role='button') Cancel
