extends Layout

block header_content 
    nav.navbar.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href='/') P.T. Timers
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
                a.nav-link(aria-current='page', href='#slideshow-container') What is Pomodoro Technique?
            li.nav-item
                a.nav-link(onclick="document.getElementById('id01').style.display='block'") Sign up
            li.nav-item
                a.nav-link(onclick="document.getElementById('id02').style.display='block'") Sign in


block content
    .top-container
        h1 Pomodoro Technique Timers
        h2 Time Mannager Technique
    .button-animate-container
        .row
            .col
                .left
                    img.left-p(src='pomodoro_rings.png', alt='Pomodoro', width='150', height='150')
            .col
                .buttons
                    a.btn.btn-outline-dark(onclick="document.getElementById('id01').style.display='block'", role='button', style='padding: 3%; margin: 2%; width: 50%;') Sign up
                    a.btn.btn-outline-dark(onclick="document.getElementById('id02').style.display='block'", role='button', style='padding: 3%; width: 46%;') Sign in
            .col
                .right
                    img.right-p(src='pomodoro_rings.png', alt='Pomodoro', width='150', height='150')
    
    
    
    //- sign-up modal
    #id01.modal
        //- action: stays at the same page for clicking the start now button and customize your timer
        form.modal-content.animate(action='/custom-your-timer', method='post', style='background-color: #dc3545; width: 50%;')
            .uppercontainer
                span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') &times;
            .container
                h1 Sign Up
                p Please fill in this form to create an account.
                hr
                label(for='email')
                    b Email
                input#inputEmail.form-control(type='email', name="su_email", placeholder='Email@example.com', required='')
                label(for='psw')
                    b Password
                input#inputPassword.form-control(type='password', name="su_psw", placeholder='Password', required='', minlength='8')
                .form-group
                    // creat a lookup table to limit the database for specefic degrees and collect data for them
                    label(for='acd') Academic Field
                    select.form-control(name='acd', 3='Choose Your Academic Degree', required='')
                        option Choose Your Academic Field
                        option Industrial Engineering &amp; Management 
                        option Electrical Engineering
                        option Mechanical Engineering
                        option Computer Science
                        option Civil Engineering
                        option Mathematics
                        option Physics
                        option Statistic
                        option Medicine School
                        option Pharmacy
                        option Nursing School
                        option Law
                label(for='GPA')
                    b GPA
                input#inputGPA.form-control(type='number', name="GPA", placeholder='Nobody else would know 😋', min='0', max='100', step='0.01', required='')
            .container(style='text-align: center;')
                button#Login_btn.btn.btn-outline-dark(type='submit', style='width: 40%; margin: 1%;') Sign up
                a.btn.btn-outline-dark(onclick="document.getElementById('id01').style.display='none'", style='width: 40%; margin: 1%;', role='button') Cancel
    //- sign in modal
    #id02.modal
        //- the user sould have had their timer from last login therefor send them directly to the timer
        form.modal-content.animate(action='/my-pomodoro-timer', method='post', style='background-color: #dc3545; width: 50%;')
            .uppercontainer
                span.close(onclick="document.getElementById('id02').style.display='none'", title='Close Modal') &times;
                img.avatar(src='pomodoro user.jpg', alt='Pomodoro user img')
            .container
                label(for='email')
                    b Email
                input#inputEmail.form-control(type='email', name="si_email", placeholder='Email@example.com', required='')
                label(for='psw')
                    b Password
                input#inputPassword.form-control(type='password', name="si_psw", placeholder='Password', required='', minlength='8')
                button#Login_btn.btn.btn-outline-dark(type='submit', style='width: 100%;') Login
            .container
                a.btn.btn-outline-dark(onclick="document.getElementById('id02').style.display='none'", role='button') Cancel
                